.page-container {
	display: flex;
	flex-direction: column;
}
.manga-cards {
	display: flex;
	margin: 10px 20px;
	box-shadow: 0 8px 6px -2px #ccc;
}
.image {
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	margin: 20px;
}
.detail {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
}
.info {
	display: flex;

	border-bottom: 1px inset black;
}
.subInfo {
	margin: 20px;
}
